* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 4rem auto 4rem;
}

/* General style classes */
.flex-row-center {
  display: flex;
  justify-content: center;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.margin-top-2rem {
  margin-top: 2rem;
}